@custom-variant hover (&:hover);
@import "tailwindcss";

:root {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@theme {
    --shadow-lighten: inset 0 0 0 10em rgba(255, 255, 255, 0.15);
    --shadow-darken: inset 0 0 0 10em rgba(0, 0, 0, 0.15);
}

@theme inline {
    --color-fd-primary: var(--fd-primary);
    --color-fd-mask: var(--fd-mask);
    --color-fd-bg: var(--fd-bg);

    --color-fd-bg-lighter: color-mix(in srgb, var(--fd-bg), white 15%);
    --color-fd-bg-even-lighter: color-mix(in srgb, var(--fd-bg), white 20%);
}