@import "tailwindcss";
@custom-variant hover (&:hover);
@source inline("*:transform-none!,*:static!");

:root {
	font-family:
		"TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
}

@theme {
	--shadow-lighten: inset 0 0 0 10em rgba(255, 255, 255, 0.15);
	--shadow-darken: inset 0 0 0 10em rgba(0, 0, 0, 0.15);
}

@theme inline {
	--color-fd-primary: var(--fd-primary);
	--color-fd-mask: var(--fd-mask);
	--color-fd-bg: var(--fd-bg);
	--color-fd-danger: var(--fd-danger);

	--color-fd-bg-15: color-mix(in srgb, var(--fd-bg), white 15%);
	--color-fd-bg-20: color-mix(in srgb, var(--fd-bg), white 20%);
	--color-fd-bg-25: color-mix(in srgb, var(--fd-bg), white 25%);
}

.scroll-shadow {
	background:
		linear-gradient(var(--fd-bg) 33%, rgba(255, 255, 255, 0)),
		linear-gradient(rgba(255, 255, 255, 0), var(--fd-bg) 66%) 0 100%,
		radial-gradient(
			farthest-side at 50% 0,
			var(--color-fd-bg-15),
			rgba(0, 0, 0, 0)
		),
		radial-gradient(
			farthest-side at 50% 100%,
			var(--color-fd-bg-15),
			rgba(0, 0, 0, 0)
		)
		0 100%;
	background-color: var(--fd-bg);
	background-repeat: no-repeat;
	background-attachment: local, local, scroll, scroll;
	background-size:
		100% 48px,
		100% 48px,
		100% 16px,
		100% 16px;
}
